/*  Layout and Structure */
.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: var(--NEUTRAL-ONE);
    border-radius: 10px;
}

.price-total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* Cart Item */
.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.delivery-option {
    display: flex;
    align-items: center; 
    gap: 10px;
    padding: 10px 0;
}

.delivery-option input {
    margin: 0; 
    width: 16px;
    height: 16px;
}

/* Buttons */
.button {
    background-color: var(--SECONDARY-COLOR-ONE);
    color: var(--NEUTRAL-ONE);
    font-size: 1rem;
    padding: 1rem 2rem;
    border: solid var(--NEUTRAL-TWO);
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--PRIMARY-COLOR);
}

/*Typography*/
label {
    justify-content: flex-start;
}

p {
    color: var(--NEUTRAL-TWO);
}

strong {
    color: var(--NEUTRAL-TWO);
}

/* Navigation */
nav .active {
    color: var(--SECONDARY-COLOR-ONE);
}

select {
    width: 30%;
    max-width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--NEUTRAL-TWO);
    border-radius: 10px;
    font-size: 1rem;
}

/* Responsive design*/
@media (max-width: 768px) {
    .two-column-grid {
        grid-template-columns: 1fr; 
    }

    .cart-item {
        flex-direction: column; 
        align-items: flex-start;
    }

    .price-total {
        align-items: flex-start;
    }
}
