.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: var(--NEUTRAL-ONE);
    border-radius: 10px;
}

label {
    color: var(--NEUTRAL-TWO);
    justify-content: flex-start;
}

p {
    font-size: 12pt;
    padding: 2rem;
    font-family: "Inter";
    color: var(--NEUTRAL-TWO);
}

input {
    max-width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button {
    background-color: var(--SECONDARY-COLOR-ONE);
    color: var(--NEUTRAL-ONE);
    font-size: 1rem;
    padding: 1rem 2rem;
    border: solid var(--NEUTRAL-TWO);
    border-radius: 10px;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    cursor: pointer;
    margin-top: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--PRIMARY-COLOR);
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.delivery-option {
    display: flex;
    align-items: center; 
    gap: 10px;
    padding: 10px 0;
}

.delivery-option input {
    margin: 0; 
    width: 16px;
    height: 16px;
}

strong {
    color: var(--NEUTRAL-TWO);
}

nav .active {
    color: var(--SECONDARY-COLOR-ONE);
}

.signup {
    padding: 0.850rem;
    color: var(--NEUTRAL-TWO);
    font-weight: 600;
}

.price-total {
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width: 768px) {
    .checkout-grid {
        grid-template-columns: 1fr;
    }
}
