/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

/* Box styles */
.box {
    background-color: var(--SECONDARY-COLOR-ONE);
    color: var(--NEUTRAL-ONE);
    font-size: 1rem;
    padding: 2rem;
    border: solid var(--NEUTRAL-TWO);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.box a {
    text-decoration: none;
    color: inherit;
}

.box h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Responsive design */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
