/* Two Column Grid */
.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    max-width: 900px;
    margin: auto;
}

/* Typography */
p, label {
    color: var(--NEUTRAL-TWO);
    text-align: center; 
}

h1 {
    color: var(--NEUTRAL-TWO);
}

/* Containers */
.two-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 1rem;
    border: solid var(--SECONDARY-COLOR-TWO);
    border-radius: 8px;
    background: var(--NEUTRAL-ONE);
    width: 100%; 
    box-sizing: border-box;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: top;
}

.thumb-image {
    opacity: 0;
}

.image-container:hover .main-image {
    opacity: 0;
}

.image-container:hover .thumb-image {
    opacity: 1;
}

.details-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

select {
    width: 20vh; 
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px var(--NEUTRAL-TWO);
    height: 40px; 
    display: inline-block;
}

.price {
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    margin: 0;
    text-align: center; 
}

/* Buttons */
.cart-button{
    display: flex;
    background-color: var(--SECONDARY-COLOR-ONE);
    color: var(--NEUTRAL-ONE);
    font-size: 1rem;
    padding: 1rem 2rem;
    border: solid var(--NEUTRAL-TWO);
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase; 
    letter-spacing: 1px; 
    text-align: center;
    margin: 10px;
}

.cart-button:hover {
    background-color: var(--PRIMARY-COLOR);
}

.buttons-container {
    padding: 10px;
    position: relative;
}

@media (max-width: 768px) {
    .two-column-grid {
        grid-template-columns: 1fr; 
    }

    .details-container {
        flex-direction: column; 
    }

    select {
        width: 80%;
    }

    .image-container img {
        object-fit: cover; 
        width: 100%;
        height: 50vh;
        min-height: 50%;
    }
    
    .image-container {
        object-fit: cover;
        width: 100%;
        height: 50vh;
        min-height: 50%;
    }
}
