/* Menu grid */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Productbox styles */
.product-box {
    background-color: var(--NEUTRAL-ONE);
    padding: 20px 20px 40px;
    border-radius: 8px;
    text-align: center;
    border: solid var(--PRIMARY-COLOR);
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 60vh;
}

.product-box img {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    object-position: top;
}

.product-info {
    font-size: 1.1em;
    color: var(--NEUTRAL-TWO);
    padding: 5px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.signup {
    padding: 0.85rem;
    color: var(--NEUTRAL-TWO);
    font-weight: 600;
}

/* Responsive design */
@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }

    .product-box {
        min-height: auto;
    }

    .product-box img {
        height: 60%;
        max-height: 250px;
        min-height: auto;
    }
}
