/*Styling basics*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --PRIMARY-COLOR: #103944;
    --SECONDARY-COLOR-ONE: #456369;
    --SECONDARY-COLOR-TWO: #A3AEB1;
    --SECONDARY-COLOR-THREE: #D9D9D9;
    --NEUTRAL-ONE: #FFFFFF;
    --NEUTRAL-TWO: #1E1E1E;
    font-family: "Inter";
}

body {
    background-color: var(--NEUTRAL-ONE);
}

p {
    font-size: 14pt;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 20pt;
}

button {
    background-color: var(--SECONDARY-COLOR-ONE);
    color: var(--NEUTRAL-ONE);
    font-family: "Inter";
    font-size: 14pt;
    stroke: var(--NEUTRAL-TWO);
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: var(--NEUTRAL-TWO);
}

/*--*/
/* Styling header */
.nav-container-top {
    background-color: var(--NEUTRAL-ONE);
    height: 20%;
    display: flex;
    justify-content: center;
    position: relative; 
}

.nav-container-top img {
    width: 10rem;
    padding: 10px;
    position: sticky;
    top: 0; 
    z-index: 10; 
}

.nav-container-bottom {
    background-color: var(--NEUTRAL-ONE);
    height: 20%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 5;
    top: 0;
    position: sticky;
}

.left-nav {
    display: flex;
    justify-content: flex-start; 
}

.right-nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
}

.dropbtn {
    background-color: var(--NEUTRAL-ONE);
    color: var(--NEUTRAL-TWO);
    padding: 1rem;
    font-size: 1rem;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--NEUTRAL-ONE);
    min-width: 15rem;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--NEUTRAL-TWO);
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: var(--SECONDARY-COLOR-TWO);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {font-weight: bold; color: var(--PRIMARY-COLOR);}

.search-input,
.material-symbols-outlined {
    margin: 1rem;
}

/**/

/*
.nav-container-top {
    height: 20%;
    display: flex;
    align-items: center;
}

.nav-container-top > div {
    padding: 10px;
    margin: auto;
  }

.nav-container-top img {
    width: 100px;
}

.nav_container {
    height: 20%;
    display: flex;
    align-items: center;
    background-color:var(--NEUTRAL-ONE);
}
*/
/*--*/