* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --PRIMARY-COLOR: #103944;
    --SECONDARY-COLOR-ONE: #456369;
    --SECONDARY-COLOR-TWO: #A3AEB1;
    --SECONDARY-COLOR-THREE: #D9D9D9;
    --NEUTRAL-ONE: #FFFFFF;
    --NEUTRAL-TWO: #1E1E1E;
    font-family: "Inter";
}

body {
    background-color: var(--PRIMARY-COLOR);
}

p {
    font-size: 12pt;
    padding: 2rem;
    font-family: "Inter";
    color: var(--NEUTRAL-ONE);
}

h1 {
    font-size: 20pt;
    padding: 2rem;
    color: var(--NEUTRAL-ONE);
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

h2 {
    font-size: 20pt;
    color: var(--NEUTRAL-TWO);
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: var(--NEUTRAL-TWO);
}

label {
    font-size: 12pt;
    font-family: "Inter";
    color: var(--NEUTRAL-ONE);
}

/*--*/
