.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-box {
    background-color: var(--NEUTRAL-ONE);
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    border: solid var(--PRIMARY-COLOR);
    border-width: 1px;
}

.product-box img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

.price {
    font-size: 1.1em;
    color: var(--NEUTRAL-TWO);
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    padding: 5px; 
}

@media (max-width: 768px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }

    .product-box img {
        max-height: 200px; /* Sett en lavere max-høyde på bildet på små skjermer */
    }
}