main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    max-width: 1200px; /* Setter en maks bredde */

    margin: auto; /* Sentrerer hovedseksjonen */
}

.hero {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Sikrer god responsivitet */
    width: 100%;
    max-width: 100%;
    max-height: fit-content;
    text-align: left;
    flex-wrap: nowrap;
}

.image-container {
    position: relative;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image, .thumb-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    transition: opacity 0.3s ease;
}

.thumb-image {
    opacity: 0;
}

.image-container:hover .thumb-image {
    opacity: 1;
}

.image-container:hover .main-image {
    opacity: 0;
}

.details {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details h1 {
    font-size: 24px;
}

.price {
    font-weight: bold;
}

.color-dot {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.cart-btn {
    background-color: var(--SECONDARY-COLOR-ONE);
    color: var(--NEUTRAL-ONE);
    font-family: "Inter";
    font-size: 14pt;
    stroke: var(--NEUTRAL-TWO);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.cart-btn:hover {
    background-color: var(--PRIMARY-COLOR);
}
